<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<table border="1">
	<tr><th>id</th><th>이름</th><th>나이</th><th>전화</th><th>성별</th></tr>
	{% if fdatas %}
	{% for f in fdatas %}
	<tr>
		<td>{{f.id}}</td>
		<td>{{f.name}}</td>
		<td>{{f.nai}}</td>
		<td>{{f.tel}}</td>
		<td>{{f.gen}}</td>
	</tr>
	{% endfor %}
	<tr>
			<td colspan="5">
				인원수 : {{total}}명
			</td>
		</tr>
		<tr>
			<td colspan="5">
				나이평균 : {{avg_age}}
			</td>
		</tr>
	{% else %}
	<tr><td colspan="4">자료가 없어요</td></tr>
	{% endif %}
	
</table>
</body>
</html>